<!DOCTYPE html>
<html>
<head>
    <title>Documentación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='form_documentacion.js') }}"></script>

</head>
<body>
    <h1>Documentación</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="cv">Hoja de Vida:</label>
        <input type="file" name="cv" id="cv" required>
        <span id="cvCount">0</span>
        <br>
        <label for="icedula">Cédula: </label>
        <input type="file" name="icedula" id="icedula" required>
        <span id="cvCount">0</span>
        <br>
        <label for="cvotacion">Certificado de Votación</label>
        <input type="file" name="cvotacion" id="cvotacion" required>
        <span id="cvCount">0</span>
        <br>
        <label for="cacademico">Certificado Académico</label>
        <input type="file" name="cacademico" id="cacademico" required>
        <span id="cvCount">0</span>
        <br>
        <label for="claboral">Certificado Laborales</label>
        <input type="file" name="claboral" id="claboral" required>
        <span id="cvCount">0</span>
        <br>
        <label for="ilegal">Impedimentos Legales</label>
        <input type="file" name="ilegal" id="ilegal" required>
        <span id="cvCount">0</span>
        <br>
        <label for="ilega">Certificado de no responsabilidades laborales</label>
        <input type="file" name="ilegal" id="ilegal" required>
        <span id="cvCount">0</span>
        <br>
        <label for="claboral">Certificado Experiencia Profesional</label>
        <input type="file" name="celaboral" id="celaboral" required>
        <span id="cvCount">0</span>
        <br>
        <br>
        <input type="submit" value="Subir Archivos">
    </form>
</body>
</html>
