<!DOCTYPE html>
<html>
<head>
    <title>Leer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Registros</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Provincia</th>
            <th>Clase</th>
            <th>Sector</th>
            <th>Mes</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Días de Estadía</th>
            <th>Acción</th>
        </tr>
        {% for registro in registros %}
        <tr>
            <td>{{ registro._id }}</td>
            <td>{{ registro.id }}</td>
            <td>{{ registro.nombre }}</td>
            <td>{{ registro.provincia }}</td>
            <td>{{ registro.clase }}</td>
            <td>{{ registro.sector }}</td>
            <td>{{ registro.mes }}</td>
            <td>{{ registro.sexo }}</td>
            <td>{{ registro.edad }}</td>
            <td>{{ registro.dias_estadia }}</td>
            <td>
                <form method="POST" action="/eliminar">
                    <input type="hidden" name="id" value="{{ registro._id }}">
                    <input type="submit" value="Eliminar">
                </form>                
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
