<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>SB Admin 2 - Register</title>
    
    <!-- Custom fonts for this template-->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
        type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-success">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row text-dark container">
                    <div class="col-md-8">
                        <!-- Utiliza la clase "col-md-6" para que ocupe la mitad de la pantalla en dispositivos medianos y más grandes -->
                        <div class="container mt-5">
                            <center>
                                <h1 class="mb-4">Formulario de Registro</h1>
                            </center>
                            <form id="registroForm" enctype="multipart/form-data" action="/procesar" method="post">
                                <div></div>
                                <div class="form-group">
                                    <label for="tipo_identificacion">Tipo de
                                        Identificación:</label>
                                    <select class="form-control" name="tipo_identificacion" id="tipo_identificacion">
                                        <option value>Seleccionar...</option>
                                        <option value="Cédula">Cédula</option>
                                        <option value="Pasaporte">Pasaporte</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="num_identificacion">No. de
                                        Identificación:</label>
                                    <input type="text" class="form-control" name="num_identificacion"
                                        id="num_identificacion">
                                    <p id="errorNumIdentificacion"></p>
                                </div>
                                <div class="form-group">
                                    <label for="nombres">Nombres:</label>
                                    <input type="text" class="form-control" name="nombres" id="nombres">
                                    <p id="errorNombres"></p>
                                </div>
                                <div class="form-group">
                                    <label for="apellido_paterno">Apellido
                                        Paterno:</label>
                                    <input type="text" class="form-control" name="apellido_paterno"
                                        id="apellido_paterno">
                                    <p id="errorApellidoPaterno"></p>
                                </div>
                                <div class="form-group">
                                    <label for="apellido_materno">Apellido
                                        Materno:</label>
                                    <input type="text" class="form-control" name="apellido_materno"
                                        id="apellido_materno">
                                    <p id="errorApellidoMaterno"></p>
                                </div>
                                <div class="form-group">
                                    <label for="email">E-mail:</label>
                                    <input type="email" class="form-control" name="email" id="email" required>
                                    <p id="errorEmail"></p>
                                </div>
                                <div class="form-group">
                                    <label for="contrasena">Contraseña:</label>
                                    <input type="password" class="form-control" name="contraseña" id="contraseña"
                                        required>
                                    <p id="errorContrasena"></p>
                                </div>
                                <div class="form-group">
                                    <label for="confirmar_contrasena">Confirmar
                                        Contraseña:</label>
                                    <input type="password" class="form-control" name="contraseña"
                                        id="contraseña" required>
                                    <p id="errorConfirmarContrasena"></p>
                                </div>
                        </div>
                    </div>

                    <div id="errorMessageDiv" class="alert alert-danger mt-4" style="display: none;"></div>
                </div>
                <br><br>
                <center>
                    <div class="mb-4">
                        <a href="/" class="btn btn-success mr-2">Volver</a>
                        <button type="submit" class="btn btn-success">Registrar</button>
                    </div>
                </center>
                <br><br>
                </form>
            </div>
        </div>
    </div>

    <script src="./js/validar.js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>

</html>